@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import "tailwindcss";

.title-cursive {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  letter-spacing: 0.02em;
}
